:root{
  --white:#F8F9F9;
  --secondary-white:#F4F6F6;
  --shadow-white:rgba(0, 0, 0, 0.233);

  --dark:#264653;
  --secondary:#F4A261;

  --valid:#2A9D8F;
  --pending:#E9C46A;
  --invalid:#E76F51;
}

html{
  background-color: red;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {display: none}

  body{
      background-color: var(--secondary-white);
      color: var(--dark);
      font-family: sans-serif;
      font-variant: small-caps;
      font-size: 2vw;
      height: 100%;
      width: 100%;
      margin:0;
      padding:0;
      display: grid;
      grid-template: 50px auto / 1fr;
      text-align: center;
      /* background-image: url(./assets/img/100\ by\ 200\ delta\ maze.png); */
  }